.grid-c{
  display: grid;

}



 .grid-l{
  display: grid;
  /* grid-template-columns: 2fr 1fr;
  grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 67px;
  height: 80px;
  background-color: violet;
  list-style: none;
  margin: 0;
  padding: 20px;
  align-items: center ;
}

.grid-gal-img{
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 23px;
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: grid;
}

@media (max-width: 768px) {
  .grid-gal-img {
    grid-template-columns: 1fr;
  }
    }

/* Desktop */

@media (max-width: 900px) {
  .grid-gal-img {
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
  }
}

/* Tablet */

@media (max-width: 600px) {
  .grid-gal-img {
    grid-template-columns: repeat(2, 2fr);
  }
}

/* Celular */

@media (max-width: 300px) {
  .grid-gal-img {
    grid-template-columns: 1fr;
  }
}


